apiVersion: v1
baseDomain: "{{ ocp_domain }}"
compute: 
- hyperthreading: Enabled 
  name: worker
  replicas: 6
  platform:
    vsphere: 
      cpus: 16
      memoryMB: 65536
      osDisk:
        diskSizeGB: 200
controlPlane: 
  hyperthreading: Enabled 
  name: master
  replicas: 3
  platform:
    vsphere: 
      cpus: 4
      memoryMB: 16384
      osDisk:
        diskSizeGB: 120
metadata:
  name: "{{ ocp_cluster_name }}" 
platform:
  vsphere:
    vcenter: "{{ vcenter_host }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    datacenter: datacenter
    defaultDatastore: datastore
    folder: folder
    resourcePool: resource_pool 
    diskType: thin 
    network: VM_Network
    cluster: "{{ vcenter_clustername }}"
    apiVIP: {{ api_vip }}
    ingressVIP: {{ ingress_vip }}
fips: false
pullSecret: "{{ redhat_pull_secret }}"
sshKey: "{{ ssh_key }}"