apiVersion: v1
baseDomain: {{ ipi_base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: 
    gcp:
      type: e2-standard-8 #should be a varable
      osDisk:
        diskType: pd-ssd
        diskSizeGB: 1025
      zones:
      - us-central1-a
      - us-central1-b
      - us-central1-c
  replicas: 3
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    gcp:
      type: e2-standard-16
      osDisk:
        diskType: pd-ssd
        diskSizeGB: 256
      zones:
      - us-central1-a
      - us-central1-b
      - us-central1-c
  replicas: 3
metadata:
  name: sp-edge-ipi-1
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  gcp:
    projectID: {{ project_id }}
    region: us-central1
pullSecret: '{{ lookup('file', ipi_pull_secret_file) | regex_replace('\'', '"') }}'
fips: false
publish: External
sshKey: |
   {{ ssh_key_name }}
  
